body {
  font-family: 'Raleway', sans-serif;
  background: #0f172a;
  color: white;
}

/* LOGIN PAGE */
.login-body {
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* CONTAINER */
.login-container {
  text-align: center;
}

/* HEADER */
.login-header {
  margin-bottom: 30px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background: #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-weight: bold;
}

.login-header h2 {
  margin-bottom: 5px;
}

.login-header p {
  font-size: 12px;
  color: #cbd5f5;
  letter-spacing: 1px;
}

/* CARD */
.login-card {
  background: #ffffff;
  color: #1e293b;
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  text-align: left;
}

/* TITULO */
.login-card h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.login-sub {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 25px;
}

/* LABEL */
label {
  font-size: 12px;
  font-weight: 600;
}

/* INPUT */
.input-group {
  margin: 10px 0 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background: #f1f5f9;
}

/* SENHA ROW */
.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-row a {
  font-size: 12px;
  color: #2563eb;
  text-decoration: none;
}

/* CHECK */
.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 12px;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #2563eb, #1d4ed8);
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

/* DIVIDER */
.divider {
  text-align: center;
  font-size: 12px;
  color: #64748b;
  margin-bottom: 15px;
}

/* ALT LOGIN */
.alt-login {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.alt-login button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
  cursor: pointer;
}

/* SIGNUP */
.signup {
  font-size: 12px;
  text-align: center;
}

.signup a {
  color: #2563eb;
  text-decoration: none;
}

/* FOOTER */
.login-footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 11px;
}

.login-footer a {
  color: #cbd5f5;
  text-decoration: none;
}
.logo-link {
  display: inline-block;
  text-decoration: none;
}

.logo-link:hover .logo-circle {
  transform: scale(1.1);
  transition: 0.2s;
}
.back-home {
  display: inline-block;
  margin-bottom: 20px;
  color: #cbd5f5;
  font-size: 13px;
  text-decoration: none;
  transition: 0.3s;
}

.back-home:hover {
  color: white;
}

.back-home {
  display: inline-block;
  margin-bottom: 20px;
  color: #cbd5f5;
  font-size: 13px;
  text-decoration: none;
  transition: 0.3s;
}

.back-home:hover {
  color: white;
}